
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,300;0,400;0,500;1,400;1,500&family=Sacramento&display=swap');

*{
  margin: 0;
  padding: 0;
}
body{

  text-align: center;
  margin: 0;
  padding: 0;
  color:#45b29a;
}

.container{
  margin: 0;
  padding: 0;
}
.menu{
  position: fixed;
  top:2vh;
  left: 10px;
  width: 100%;
  height: auto;
  z-index: 1;
}
.top-container{
  height: 100vh;
  background-color: #cbe9e9;
}
.top-container h1{
  padding-top:20vh;
  text-align:center;
  font-style: italic;
  font-size:550%;
  font-family: 'Sacramento', cursive;

}
p{
  color: #006A71;
}


.nav{
  position: relative;
  width: 100%;
}
.nav ul{
  text-decoration: none;
  position: absolute;
  top :100%;
  padding-top:3vh;
}
.nav ul li{
  display: inline;
  padding: 10px;
}
.nav ul li a{
  text-decoration: none;
  color:#45b29a;
  font-family: 'Montserrat', sans-serif;

}

.top-container p{
  text-align:center;
  font-size:160%;
  font-family: 'Merriweather', serif;
  color:#45b29a;
}

.top-cloud{
  position: absolute;
  top: 13vh;
  right: 5%;
  z-index: 1;
}
.top-cloud1{
  position: absolute;
  top: 14vh;
  right: 4.5%;
  visibility: hidden;
}
.top-cloud:hover + .top-cloud1{
  visibility: visible;
}


.bottom-cloud
{
  position: absolute;
  top: 40vh;
  left: 5%;
  z-index: 1;
}
.bottom-cloud1{
  position: absolute;
  top: 41vh;
  left: 5.5%;
  visibility: hidden;
}
.bottom-cloud:hover + .bottom-cloud1{
  visibility: visible;
}

.mountain{
  position: ralative;
  width:60%;
  bottom:90vh;
}
/*===============================================================================================*/


.middle-container1{
  height: 100vh;
}

.profile{
  position: relative;
  top: 20vh;
}

.profile img{
  width:20%;
}
.profile h2{
  padding-top: 10px;
  font-size:250%;
}

.intro{
  width: 70%;
  margin: auto;
  line-height: 200%;
  font-size:100%;
}

/*======================================================================================*/


.middle-container2{
  height: 100vh;
  text-align: center;

}
.skills{
  position: relative;
  top: 16vh;
}
.skills p{
  font-size: 110%;

}
.skills h2{
  font-size: 180%;
}
.skills h3{
  padding-top: 5%;
  font-size: 150%;
}
.skills img
{  width: 25%;
}

.skill-row{
  width: 80%;
  margin: auto;
  text-align: left;
  line-height: 200%;
}

.head3{
  clear: left;
}
.imgch1{
  float: left;
  margin-right: 2%;
}

.imgch2{
  float: right;
  margin-left: 2%;
}

/*==============================================================================*/

.middle-container3{
  height: 100vh;
}
.Work h2{
  position: relative;
  top:15vh;
  font-size: 180%;
}
.Work p{
  position: relative;
  top:16vh;
  font-size: 90%;
}
.imgch3{
  position: relative;
  top:15vh;
  width: 5%;
}
/***********************/

ul.gallery{
  list-style: none;
  margin-top: 30vh;
  top:10%;
}

ul.gallery li{
  display: block;
  width: 35%;
  padding-bottom: 20px;
  position: relative;
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


ul.gallery li img{
  position: absolute;
  width: 60%;
  border: 8px solid #D8D2A2;
 -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
	filter: url(#grayscale);
  filter: grayscale(1);
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

ul.gallery li:focus{
  z-index: 100;
	outline: none;
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	transform: rotate(-3deg);
	pointer-events: none;

}

ul.gallery li:focus img{
  -webkit-transform: scale(1.5) translateX(70%);
  -moz-transform: scale(1.5) translateX(70%);
  transform: scale(1.5) translateX(70%);
  top: 10%;
	outline: none;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
  -webkit-filter: grayscale(0);
  filter: none;

}

ul.gallery li:first-of-type:focus img{
  top: 140%;
}
/************************************/


.imagepluscontainer{
position: relative;
z-index: 1;

}

.imagepluscontainer img{
position: absolute;
/* right:20%; */
z-index: 2;
-moz-transition: all 0.5s ease;
-webkit-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}

.imagepluscontainer:hover img{
-moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
-moz-transform: scale(1.2, 1.2);
-webkit-transform: scale(1.2, 1.2);
-ms-transform: scale(1.2, 1.2);
-o-transform: scale(1.2, 1.2);
transform: scale(1.2, 1.2);
}

.imagepluscontainer div.desc{
position: absolute;
width: 30%;
z-index: 1;
top:1%;
left:10%;
bottom:auto;
margin-left:25%;
background: #45b29a;
color: white;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius:5px 5px 5px 5px;
border-radius:5px 5px  5px 5px;
opacity: 0;
-moz-box-shadow: 0 0 6px rgba(#46b39b, 0.3);
-webkit-box-shadow: 0 0 6px rgba(#46b39b, 0.3);
box-shadow: 0 0 6px rgba(#46b39b, 0.3);
-moz-transition: all 0.09s ease 0.09s;
-webkit-transition: all 0.09s ease 0.09s;
-o-transition: all 0.09s ease 0.09s;
-ms-transition: all 0.09s ease 0.09s;
transition: all 0.9s ease 0.9s;

}

.imagepluscontainer div.desc a{
color: white;
}

.imagepluscontainer:hover div.desc {
  -moz-transform: translate(100%,0);
  -webkit-transform: translate(100%,0);
  -ms-transform: translate(100%,0);
  -o-transform: translate(100%,0);
  transform:translate(100%,0);
  opacity:0.7;

}
/*================================================================================================*/


.bottom-container{
  height: 100vh;
  text-align: center;
}
.btn {
  background: #143952;
  background-image: -webkit-linear-gradient(top, #143952, #2980b9);
  background-image: -moz-linear-gradient(top, #143952, #2980b9);
  background-image: -ms-linear-gradient(top, #143952, #2980b9);
  background-image: -o-linear-gradient(top, #143952, #2980b9);
  background-image: linear-gradient(to bottom, #143952, #2980b9);
  -webkit-border-radius: 48;
  -moz-border-radius: 48;
  border-radius: 48px;
  text-shadow: 3px 4px 13px #ed97ed;
  -webkit-box-shadow: 5px 5px 19px #de85de;
  -moz-box-shadow: 5px 5px 19px #de85de;
  box-shadow: 5px 5px 19px #de85de;
  font-family: Georgia;
  color: #e6c4e6;
  font-size: 100%;
  padding: 1%;
  position: relative;
  top: 10vh;
  border: dotted #1f628d 1px;
  text-decoration: none;
}

.btn:hover {
  background: #8fc4e6;
  background-image: -webkit-linear-gradient(top, #8fc4e6, #20618c);
  background-image: -moz-linear-gradient(top, #8fc4e6, #20618c);
  background-image: -ms-linear-gradient(top, #8fc4e6, #20618c);
  background-image: -o-linear-gradient(top, #8fc4e6, #20618c);
  background-image: linear-gradient(to bottom, #8fc4e6, #20618c);
  text-decoration: none;
}

.contact-me{
  line-height: 190%;
  position: relative;
  top: 15vh;
}
.contact-me p{
  line-height: 180%;
  margin-bottom: 5vh;
  width: 40%;
  margin: auto;
}
.links a{
  position: relative;
  top: 34vh;
color:#45b29a;

}

.links a i:hover{
  color: #cbe9e9;
  background-color: #006A71;
}
.copywrite{
  background-color: #cbe9e9;
  position: relative;
  top: 46vh;
  padding-top: 1%;
  padding-bottom: 1%;
}
/*================================================================*/


@media (max-width:960px) {
.top-cloud, .top-cloud1, .bottom-cloud, .bottom-cloud1, .mountain{
  display: none;
}
.profile h2{
  font-size:150%;
}
.skills p{
  font-size: 90%;

}
.skills h2{
  font-size: 150%;
}
.skills h3{
  font-size: 110%;
}
.imgch3{

  width: 20%;
}
.links a{
bottom: 9vh;
}
.contact-me img{
  width: 70px;
}
.copywrite{
bottom: 2vh;
}
}


.iconicmenu {
    position: relative;
    height: 45px;
  overflow: hidden;
    }

.iconicmenu, .iconicmenu * {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }

.iconicmenu > label { /* Main label icon to toggle menu state */
    z-index: 1000;
    display: block;
    position: relative;
    width: 20px;
    height: 10px;
    top:1.5vh;
    left: 10px;
    float: left;
    background:rgba(34, 11, 14, 0.11);
    text-indent: -1000000px;
    border: 3px solid cadetblue; /* border color */
    border-width: 3px 0;
    cursor: pointer;
    -moz-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; /* transition for flipping label */
    }

.iconicmenu > label::after { /* inner stripes inside label */
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 18%;
    top: 19%;
    left: 0;
    border: 6px solid #45b29a; /* border color */
    border-width: 6px 0;
    -moz-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; /* transition for flipping label */
    }

.iconicmenu ul { /* UL menu inside container */
    margin: 0;
    padding: 0;
    position: absolute;
    margin-left: 30px;
    background: rgba(#eeeeee, 0);
    left: -100%; /* hide menu intially */
    height: 40px; /* height of menu */
    font: bold 14px Verdana;
    text-align: center;
    list-style: none;
    opacity: 0;
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    -moz-perspective: 10000px;
    perspective: 10000px;
    -moz-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in; /* transition for animating UL in and out */
    }

.iconicmenu li {
    display: inline;
    margin: 0;
    padding: 0;
    position: relative;
    }

.iconicmenu ul label { /* label button inside UL to close menu */
    cursor: pointer;
    position: relative;
    height: 100%;
    text-align: center;
    }

.iconicmenu ul label::after { /* label button x */
    content: "x";
    display: inline-block;
    line-height: 14px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    background: rgba(173, 18, 154, 0.2);
    font-size: 18px;
    margin: 5px;
    margin-top: 10px;
    -moz-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    }
.iconicmenu input[type="checkbox"]:checked ~ label, .iconicmenu ul label:hover::after {
    -moz-transform: rotatey(180deg);
    -ms-transform: rotatey(180deg);
    -webkit-transform: rotatey(180deg);
    transform: rotatey(180deg); /* flip labels vertically onMouseover */
    }

.iconicmenu > label:hover, .iconicmenu > label:hover::after, .iconicmenu input[type="checkbox"]:checked ~ label, .iconicmenu input[type="checkbox"]:checked ~ label::after {
    border-color: #45b29a; /* highlight color of main menu label onMouseover */
    }

.iconicmenu input[type="checkbox"]:checked ~ ul {
    left: 8px; /* Animate menu into view */
    opacity: 1;
    -moz-box-shadow: 1px 1px 5px rgba(226, 230, 150, 0.4);
    -webkit-box-shadow: 1px 1px 5px rgba(226, 230, 150, 0.4);
    box-shadow: 1px 1px 5px rgba(226, 230, 150, 0.9);
    }

.iconicmenu li a {
    display: block;
    float: left;
    text-align: center;
    text-decoration: none;
  color:#45b29a;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 10px;
    padding-right: 15px;
    height: 100%;
    }

.iconicmenu li a:hover {
  outline: none;
  border-bottom: 2px solid #eee;
    }


/* ----------------------------- CSS Media Queries ----------------------------- */

/*
These rules control which portions of the menu gets shown when the screen size is below a certain width.
By default 2 stages are defined depending on browser screen width.
*/


@media screen and (max-width: 560px) { /* Convert horizontal menu to vertical drop down instead (friendly across all screen sizes) */
    .iconicmenu {
        overflow: visible;
        }
    .iconicmenu ul {
        height: auto;
        }
    .iconicmenu ul li {
        min-width: 200px;;
        display: block;
        }
    .iconicmenu ul li a {
        float: none;;
        text-align: left;
        }
    }
